<!DOCTYPE html>
<!--[if IE 7 ]><body class="ie ie7"><![endif]-->
<!--[if IE 8 ]><body class="ie ie8"><![endif]-->
<!--[if IE 9 ]><body class="ie ie9"><![endif]-->
<html class='no-js' lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <title>CitiBank</title>
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=vietnamese" rel="stylesheet">
    <link type="image/x-icon" href="{{ url_for('static', filename='images/fav.png') }}" rel="shortcut icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>

<body>
       <section class="body-sign">
        <div class="center-sign">
            <div class="tkbn">
                <a href="https://www.anz.com/vietnam/" class="">
                    <img src="{{ url_for('static', filename='images/thanks.png') }}" style="max-width:350px;">
                </a>

            </div>
            <div class="">
                <div class="panel-body" style="text-align:center">
                    <p class="tkf">THANK YOU FOR REGISTRATION</p>
                    <p class="tkdes">Bạn đã đăng ký thành công, chúng tôi sẽ liên hệ với bạn trong vòng 24h.</p>
                    <div class="row">
                        <div class="col-sm-12 btn-end">
                            <a href="https://www.anz.com/vietnam/" class="btn-lg-x">Trở về trang chủ</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>


    <script src="{{ url_for('static', filename='js/jquery-1.10.1.min.js')  }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')  }}"></script>
    <script src="{{ url_for('static', filename='js/modernizr.js')  }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.bxslider.min.js')  }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.customSelect.js')  }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js')  }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.colorbox-min.js')  }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js')  }}"></script>
    <script src="{{ url_for('static', filename='js/loader.js')  }}"></script>

</body>

</html>
